<!--
[][][] Thank you for viewing my capstone project [][][]
[][][][][][][][][] Please bare with my code.[][][][][][]
 I don't have much time :([][][][][][][][][][][][][][][]
[][][][][][][][][] Tue 20th 2:04AM [][][][][][][][][][]
[][][][][][][][][] Timothy Craig Lefkowitz[][][][][][][]
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="fileStackApi" th:content="${fileStackApi}">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">


    <title>Create an Account</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">


    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--    //favcon-->
    <link rel="icon" type="image/png" sizes="16x16" href="https://live.staticflickr.com/65535/51320697245_9708355788_c.jpg">
</head>




<style>
    *, *::before, *::after {
        box-sizing: border-box;
        font-family: sans-serif;
        font-weight: normal;
    }

    body {
        padding:0;
        margin:0;
        background: linear-gradient(to right, #00AAFF, #00FF6c);
    }



    .output .previous-operand {
        color: rgba(255, 255, 255, .75);
        font-size: 2.5rem;
    }
</style>


<body class="text-center" style="max-width: 1920px">




<form class="form-signin" th:action="@{/sign-up}" method="POST" th:object="${user}" style="margin-top: 125px; max-width: 300px; margin-left:20%; margin-right:20%; align-items: center" >
    <img class="mb-4" src="https://i.imgur.com/v2t7qrK.gif" alt="" width="72" height="72">


    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>

    <!--         username-->
    <label for="username" class="sr-only">UserName</label>
    <input type="username" id="username" class="form-control" placeholder="Enter desired username" required="" th:field="*{username}" autofocus="" name="username">
    <!--         Email-->
    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="" th:field="*{email}" name="email">
    <!--         Password-->
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required="" th:field="*{password}" name="password">
    <!--         FirstName-->
    <label for="firstname" class="sr-only">First Name</label>
    <input type="text" id="firstname" class="form-control" placeholder="First name" required="" autofocus="" name="firstname">

    <!--        Middle Name  -->
    <label for="middleName" class="sr-only">Middle Name</label>
    <input type="text" id="middleName" class="form-control" placeholder="Middle Name" required="" autofocus="" name="middleName">

    <!--         Last name  -->
    <label for="lastName" class="sr-only">Last Name</label>
    <input type="text" id="lastName" class="form-control" placeholder="Last name" required="" autofocus="" name="lastName">

    <!--         Mobile  -->
    <label for="mobile" class="sr-only">Mobile Number</label>
    <input type="text" id="mobile" class="form-control" placeholder="#Mobile" required="" autofocus="" name="mobile">






<!--                    Avatar upload-->
    <label class="form-label" for="imgPath">Upload an Avatar</label><p></p>
    <button class="btn btn-light" type="button" id="imgPath" name="imgPath">Upload</button>

<!--    &lt;!&ndash;                field is how we connect it to our controller for binding &ndash;&gt;     vv the field is how we call our vairbale in the model-->
    <input th:type="hidden" id="stashFileStackURL" name="imgPath" th:value="stashFileStackURL" th:field="*{imgPath}">
    <!--                   Upload Button   -->

    <!--        -->





    <!--         Give yourself a status!!  -->
    <label for="status" class="sr-only">Give yourself a status</label>
    <input type="text" id="status" class="form-control" placeholder="give yourself a status" required="" autofocus="" name="status">

    <!--        Give your profile a Description  -->
    <label for="profile" class="sr-only">Tell us about yourself</label>
    <input type="text" id="profile" class="form-control" placeholder="Tell us about yourself!" required="" autofocus="" name="profile">


    <div class="checkbox mb-3">
        <button class="btn btn-lg btn-block" style="background:linear-gradient(to right, #9e69ba, #b700fc);" type="submit" >Sign Up</button>
    </div>




</form>



<script>
    $( document ).ready(function() {
        console.log( "Welcome" );
    });



</script>

<!--        jquery-->

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>


<!--    Filestack Javascript-->

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    (function () {

            var filestackapi = [[${fileStackApi}]];
            console.log(filestackapi);


            //Establishing a FileStack connection
            const client = filestack.init(filestackapi);

        const options = {
            onUploadDone:
                function(res){
                    $("#stashFileStackURL").val(res.filesUploaded[0].url);
                    console.log(res.filesUploaded[0].url);
                }
        }

        // inputIMG button code
        $("#imgPath").click(function(){
            client.picker(options).open();
        })


    })();






</script>
</body>
</html>