<!--/*-->
<!--FACEBOOK CLONE / PHOTONS / HELP TANK-->
<!--A Spring MVC FRAME FOR A SOCIAL MEDIA PLATFORM-->
<!--By Timothy Craig Lefkowitz and the help of Codeup!-->
<!--Aug 9th 2021-->
<!--Special Thanks to-->
<!--Douglas Hirsh-->
<!--Kenneth Howell-->
<!--Samuel Moore-->
<!--and everyone at Codeup-->


<!--                groups-->

<!--*/-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=375, initial-scale=1">
    <title>groups</title>


    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



<!--    music import      -->
    <link rel="stylesheet" href="ydxx.css">




    <!--  convert to a stylesheet later -->
    <style>

        * {

        }

        #headercard {
            padding:0;
            margin:0;
            background: linear-gradient(to right, #00AAFF, #00FF6c);
        }

        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }


    </style>


<!--    //favcon-->
    <link rel="icon" type="image/png" sizes="16x16" href="https://live.staticflickr.com/65535/51320697245_9708355788_c.jpg">

<!--      Google Icons -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>


<!--sec:authorize="isAuthenticated()-->
<body>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/home">
            <!--            <img th:src="@{/users/avatars/BlueSphere1.2.gif}" width="50" height="50" class="d-inline-block align-top" alt=""/>-->
            <img src="https://live.staticflickr.com/65535/51355122000_78d4a19442_o.gif" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>

        <a class="navbar-brand me-2" href="/home">
            PHOTONS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Toggle button -->
        <!--        <button-->
        <!--                class="navbar-toggler"-->
        <!--                type="button"-->
        <!--                data-mdb-toggle="collapse"-->
        <!--                data-mdb-target="#navbarButtonsExample"-->
        <!--                aria-controls="navbarButtonsExample"-->
        <!--                aria-expanded="false"-->
        <!--                aria-label="Toggle navigation"-->
        <!--        >-->
        <!--            <i class="fas fa-bars"></i>-->
        <!--        </button>-->

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="groups">groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="groupcreation" role="button">create a group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="friends">friends</a>
                </li>
            </ul>


            <!-- Left links -->

            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="post">post</a>
                    </li>
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" th:action="@{/logout}" th:method="post" th:href="logout">logout</a>-->
                    <!--                    </li>-->

                    <!--                    <li class="nav-item">-->
                    <!--&lt;!&ndash;                         <a&ndash;&gt;-->
                    <!--&lt;!&ndash;                        class="btn btn-dark px-3 material-icons-outlined"&ndash;&gt;-->
                    <!--&lt;!&ndash;                        href="myprofile"&ndash;&gt;-->
                    <!--&lt;!&ndash;                        role="button">&ndash;&gt;-->

                    <!--&lt;!&ndash;                             <i class="material-icons" style="font-size:14px;">account_circle</i>&ndash;&gt;-->
                    <!--&lt;!&ndash;                         </a>&ndash;&gt;-->
                    <!--                    </li>-->

                    <!-- More links here... -->
                    <!-- More links here... -->
                    <li class="nav-item">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="text-decoration: none; color:#00b1ae">logout</button>
                        </form>
                    </li>
                </ul>



            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- END OF NAVBAR     -->







<!--      Groups MAIN DIV   -->

<div class="col-lg-9"; style=" align-items: center; margin-top: 15%; margin-left: 15%; margin-right: 15%; text-align: center">

    <h5 style=" align-items: center; margin-top: 5%; margin-right: 25%; text-align: center" class="card" id="headercard" width="300px">All Groups</h5>


    <div id="mainforpost" class="col-lg-9" th:each="group : ${allgroups}">

        <!--            UserPost        style="max-height: 400px;      -->
        <div class="card container userPost" style="height:100%">

            <!--        Start of posting div-->
            <div class="row postingDiv" style="display: flex; justify-content: center; align-items: center; text-align: center">

<!--                    link to groups page -->
                <a th:href="'/groups/' + ${group.title}">
<!--                    group title-->
                <span style="font-size:12px" th:text="${group.title}" id="allGroupNames"></span>
<!--                    group image-->
                    <img th:src="${group.groupavatar}" style="height: 64px; width: 64px;">

                </a>
<!--                    <span style="font-size:12px" th:text="${group.getTitle()}" id="userOwnerPost" th:href="@{group.getTitle()}"></span></a>-->









            </div>
        </div>
    </div>
</div>

<!--               END OF FRIENDS DIV-->








</body>
</html>