<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<head>
    <meta charset="UTF-8">
    <title>home</title>


    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">







<!--    music import      -->
    <link rel="stylesheet" href="ydxx.css">




    <!--  convert to a stylesheet later -->
    <style>

        * {
            font-family: Helvetica, SansSerif;

        }

        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        body{
            display: inline;
            justify-content: center;
            align-items: center;
        }


    </style>


<!--    //favcon-->
    <link rel="icon" type="image/png" sizes="16x16" href="https://live.staticflickr.com/65535/51320697245_9708355788_c.jpg">

<!--      Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>


<!--sec:authorize="isAuthenticated()-->
<body>
<!--<div th:include="partials/nav :: navbar">-->
<!--</div>-->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="/home">
            PHOTONS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="groups">groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="friends">friends</a>
                </li>
            </ul>


            <!-- Left links -->

            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a
                            class="btn btn-dark px-3 material-icons-outlined"
                            href="post"
                            role="button">
                            <i class="material-icons" style="font-size:14px;">create_new_folder</i>POST</a>
                    </li>

                    <li class="nav-item">
                         <a
                        class="btn btn-dark px-3 material-icons-outlined"
                        href="myprofile"
                        role="button">

                             <i class="material-icons" style="font-size:14px;">account_circle</i>
                         </a>
                    </li>

                    <!-- More links here... -->
                    <li class="nav-item">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>
                </ul>



            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- END OF NAVBAR     -->



<!--      USERS POSTS DIV   -->
<div id="mainforpost" class="col-lg-9" th:each="usersPost : ${allposts}">

            <!--              UserPost        style="max-height: 400px;      -->
            <div class="container userPost" style="height:100%">

                <!--          Start of posting div-->
                <div class="row postingDiv" style="display: flex; justify-content: center; align-items: center; text-align: center">


                                    <img th:src="${usersPost.imgPath}" style="height: 60vh; width: 60vh;">
                                    <h4 style="align-items: center" th:text="${usersPost.title}"></h4>
                                    <p style="align-items: center" th:text="${usersPost.body}"></p>



<!--                    <img th:src="${usersPost.getOwnerUser().originalavatar}" style="height: 20px; width: 20px;">-->

                    <a th:href="'/' + ${usersPost.getOwner().username}">
                        <img th:src="${usersPost.getOwner().imgPath}" style="height: 32px; width: 32px;">
                        <h6 style="align-items: center" th:text="${usersPost.getOwner().username}"></h6></a>


<!--                                        <form>-->
<!--                                            <input type="hidden" name="user_id" value="${user.id}" style="width: 20px">-->
<!--                                            <input class="btn btn-danger btn-sm" text="" type="submit" value="Delete">-->
<!--                                        </form>-->


            </div>
                <!--               END OF USER POST-->



            </div>
        </div>
    </div>
</div>
</div>



</div>




<!--&lt;!&ndash; jQuery library &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

<!--&lt;!&ndash; JavaScript Bundle with Popper &ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->


<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>


</body>



<!--/// NAV FOR MOBILE-->
<nav class="navbar navbar-expand-sm nav1 fixed-bottom navbar-dark bg-dark" style="height: 158px; text-align: center; align-items: center; justify-content: center; display:none;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="homeButton" style="width: 128px;display: inline; justify-content: center; text-align: center">
        <img src="users/avatars/home.gif" style="height: 128px; width:128px; width:100%; ">
        <a style="color: #F5F5F5; font-size: 8px">home</a>
    </div>
    <div class="homeButton" style="width: 128px;display: inline; justify-content: center; text-align: center">
        <img src="users/avatars/groups.gif" style="height: 128px; width:128px; width:100%; ">
        <a style="color: #F5F5F5; font-size: 8px">groups</a>
    </div>
    <div class="homeButton" style="width: 128px;display: inline; justify-content: center; text-align: center">
        <img src="users/avatars/BLUEcube.gif" style="height: 128px; width:128px; width:100%; ">
        <a style="color: #F5F5F5; font-size: 8px">post</a>
    </div>

</nav>
</html>