<!--
[][][] Thank you for viewing my capstone project [][][]
[][][][][][][][][] Please bare with my code [][][][][][]
[][][][][][][][][] Tue 20th 2:04AM [][][][][][][][][][]
[][][][][][][][][] Timothy Craig Lefkowitz[][][][][][][]
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    Bring in a variable using th-->
    <meta name="fileStackApi" th:content="${fileStackApi}">
    <title>Post</title>


    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>





    <!--  convert to a stylesheet later -->
    <style>

        * {

        }

        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }


    </style>

    <!--    //favcon-->
    <link rel="icon" type="image/png" sizes="16x16" href="https://live.staticflickr.com/65535/51320697245_9708355788_c.jpg">

</head>



<body>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="">
            FB

            <!--          <a>-->
            <!--&lt;!&ndash;                  src=""&ndash;&gt;-->
            <!--                  height="16"-->
            <!--                  alt=""-->
            <!--                  loading="lazy"-->
            <!--                  style="margin-top: -1px;"-->
            <!--          </a>-->
        </a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">FBCLONDE ADMIN LOGIN</a>
                </li>
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
                <!--                <button type="button" class="btn btn-link px-3 me-2" href="index">-->
                <!--                    Login-->
                <!--                </button>-->
                <!--                <button type="button" class="btn btn-primary me-3" href="signup">-->
                <!--                    Sign up-->
                <!--                </button>-->
                <a
                        class="btn btn-dark px-3"
                        href="post"
                        role="button"
                >POST</a>
                <ul>
                    <!-- More links here... -->

                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </form>

                </ul>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->



<!-- begining of userPost -->


    <form class="form-signin" th:action="@{/post}" method="POST" th:object="${usersPost}"  style="margin-top: 125px; max-width: 300px; margin-left:20%; margin-right:20%; align-items: center">
        <img class="mb-4" src="https://i.imgur.com/v2t7qrK.gif" alt="" width="72" height="72">


        <h1 class="h3 mb-3 font-weight-normal"> New Post </h1>

        <!--         Title          -->
        <label for="title" class="sr-only">Title</label>
        <input type="title" id="title" class="form-control" placeholder="Give your post a title" required="" autofocus="" name="title">




        <!--         Description    -->
        <label for="body" class="sr-only">Description</label>
        <textarea class="form-control" id="body" rows="3" name="body" type="text"></textarea>




        <!--   -->
        <!--   -->
        <!--                 Image Upload    -->
        <!--   -->
        <!--   -->
        <!--   -->
        <!--                    Image Upload-->
        <label class="form-label" for="imgPath">Upload an image</label><p></p>
        <button class="btn btn-light" type="button" id="imgPath" name="imgPath">Upload</button>

        <!--                field is how we connect it to our controller for binding -->
        <input th:type="hidden" id="stashFileStackURL" name="imgPath" th:value="stashFileStackURL">
        <!--        th:field="*{img_path}-->

        <p></p>
        <button class="btn btn-info" style="background:linear-gradient(to right, #9e69ba, #b700fc);" type="submit">Post To the HUB</button><p></p>


        <p class="mt-5 mb-3 text-muted">FBCLONE</p>
    </form>





<!-- end of userpost -->

<!--        jquery-->

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>


<!--    Filestack Javascript-->

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
 <script th:inline="javascript">

     /*<![CDATA[*/

     var filestackapi = [[${fileStackApi}]];
     // console.log(filestackapi);



        //Establishing a FileStack connection
     const client = filestack.init(filestackapi);

     const options = {
         onUploadDone:
             function(res){
             $("#stashFileStackURL").val(res.filesUploaded[0].url);
             console.log(res.filesUploaded[0].url);


             }
     }


     // inputIMG button code
     $("#inputIMG").click(function(){
         client.picker(options).open();
     })




 </script>



</body>
</html>